{% extends 'web_interface/base.html' %}

{% block content %}
    <h1>Рпозитории выбраного пользователя</h1>

    <a href="{% url 'home' %}"> К списку пользователей </a>
    {% for object in repo_list %}
           <div class="card my-3">
          <div class="card-body">

            <p class="card-text">Название репозитория: {{ object.repo }}</p>
              <p><small>Дата создания: {{ object.created }}</small></p>
              <p> Read me:</p>
              <p>{{ object.read_me }}</p>
          </div>

    </div>
    {% endfor %}
{% endblock content %}